@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* dont  add the commented style */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ngtBG {
  background-image: url("https://cdn.pixabay.com/photo/2022/03/01/02/51/galaxy-7040416_640.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trans {
  background-color: rgba(255, 255, 255, 0.7);
}

.hero {
  background-image: url("/hero_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* {
  text-wrap: balance;
}
